$bg-principal: #305649;
$bg-secundario: #7fa89a;
$bg-img-gradient: linear-gradient(-60deg, #16a085 0%, #2e4949 100%);
$txt-principal: white;
$bx-shadow-principal:  0 4px 8px 0 rgba(0, 0, 0, 0.2),  0 6px 20px 0 rgba(0, 0, 0, 0.19);
$bx-shadow-secundario: 0 0.5px 8px 0 rgba(0, 0, 0, 0.2),  0 6px 20px 0 rgba(0, 0, 0, 0.19);
