/* Index */

.logo {
     &:hover {
        transform: skew(5deg, 5deg);
        transition: all 2s;
     }
}

.productos {
    padding: 5px 5px 25px 5px;
    margin: 0px 5px 20px 5px;
    grid-area: prod;
  
            h2{
                display: flex;
                justify-content: center;
            }

}

.card-style {
        background-color: $c-septenario;
        padding: 15px 0px 0px 0px;
        margin: 10px 10px 10px 10px;
        box-shadow: $bx-shadow-principal;
        border-style: none;
}

.contenedor-cards {
  justify-content: center;
}
.fa-style {
  color: $c-secundario;
  font-size: 30px;
}
.nombre-producto {
    color: $c-terciario;
  
  }

.btn-ver-producto {
    width: 120px;
    font-size: 12px;
    background-color: $c-secundario;
    border-style: none;
                        &:hover{
                            transform: scale(0.8);
                            transition: all 0.5s;
                        }  
}

.btn-carrusel {
  background-color: none;
  width: 50px;
  height: 50px;
}

.carousel-control-next, .carousel-control-prev {
  top:120px

}
.productos img {
    border: 2px solid #ffff;
    box-shadow: $bx-shadow-principal;
  
  }
 
  
.imagenProductoPrecio {
    display: flex;
    justify-content: space-evenly;
    grid-area: imgbox;
    
  }
  

.container-img {
    @include tamanio-imagenes(100px) 
  }


.container-propio-proyec-as {
  display: flex;
  flex-direction: row;
  
}

.title-product {
    background-color: $bg-principal;
    padding: 5px 25px 5px 25px;
    box-shadow: $bx-shadow-secundario;
    
  }
  
h4 {
    font-size: nth($font-size , $n: 4);
    color: $txt-principal;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

.proyectos {
    margin: 10px 0px 0px 0px;
    grid-area: projec;
                img {
                 
                }
                p {
                  color: $c-terciario;
                }
                h2 {
                  display: flex;
                  justify-content: center;
                  
                }
 } 

.title_project {
    display: flex;
    justify-content: center;
    color: $c-terciario;
    margin-bottom: 10px;
  } 
.card-proyec-style {
  background-color: $c-quinario;
} 
.proyectoInfo {
    display: flex;
    justify-content: space-between;
  } 

.asesoria {
    padding: 0px 10px 5px 0px;
    margin: 10px 5px 20px 5px;
    box-shadow: $bx-shadow-principal;
    grid-area: ases;
        h2 {
            display: flex;
            justify-content: center;
        }
  }


.asesoria_container {
    display: flex;
    justify-content: space-around;
  }
  
.ases-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bg-secundario;
    background-image: linear-gradient(map-get($card, $key: bg-cards-gradient) );
    border-radius: 0px;
    box-shadow: $bx-shadow-principal;
    margin: 10px 10px 10px 10px;
    padding: 2px 10px 2px 10px;
  }
  
.acordion-propio {
    background-image: linear-gradient(map-get($card, $key: bg-cards-gradient) );
  
  }
  
.estilo-btn-acordion {
    color: $txt-principal;
    background-image: $bg-img-gradient;
    border-style: none;
  
  }
  
.accordion-button:not(.collapsed) {
    color: $txt-principal;
    text-transform: uppercase;
  }
 
.estilo-parrafo-asesoria {
    color: $txt-principal;
  }
  
h2 {
    font-size: nth($font-size , $n:1 );
    background-color: $c-septenario;
    color: white;
    padding: 10px 50px 10px 50px;
  
  }
 

.sobre_nosotros {
    background-image: url(../images/mano-planta.jpg);
    background-size: cover;
    padding: 5px 50px 700px 5px;
    margin: 0px 5px 0px 0px;
    justify-content: center;
    grid-area: abt;
                h2 {
                  margin-top: 10px;
                }
                p{  
                    color: $txt-principal;
                   
                }
  }



.box-abt {
  background-color: $c-terciario;
  opacity: 0.8;
  width: 900px;
  height: 500px;
  margin: 100px 0px 0px 50px;
  border: solid 5px $c-quinario;
  box-shadow: $bx-shadow-principal;

}

@media screen and (max-width: 992px) {
.sobre_nosotros {
  background-image: url(../images/mano-planta2.jpg);
} 
  
}


@media screen and (max-width: 576px) {

h1 {
    font-size: nth($font-size , $n:2 );
    
  }
header {
    flex-direction: row;
    align-items: center;
  }

nav ul {
    flex-direction: column;
    
  }

.productos {
    display: flex;
    flex-direction: column;

  }

.contenedor-cards {
    flex-direction: column;
    justify-content: center;
  }

.proyectos {
    flex-direction: column;
    justify-content: center;
  }

.proyectoInfo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  


footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  footer ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }



}