*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: $c-terciario;
    @extend %orientacion;
    top: 0;
    flex-direction: row;
    justify-content: space-between;
}


.formulario-buscador {
    flex-direction: row;
    margin-right: 20px;
    input {
        margin: 0px 0px 0px 15px;
      }  
}

.btn-propio {
    color: $txt-principal;
    background-color: $bg-principal;
    background-image: $bg-img-gradient;
  }

  nav  {
    font-size: nth($font-size , $n:3 );
    background-color: $c-terciario;
        
        ul {
            li {
                a {
                    color: $txt-principal;
                    text-decoration: none;

                    &:hover {
                        background-image: linear-gradient( #16a085 0%, #57dbdb 70%);
                        box-shadow: $bx-shadow-principal;
                        border-radius: 5px;
                    }
                }
            }
        }
    } 

.navbar-light .navbar-toggler {
color: $txt-principal;
border-style: none;
margin-left: 20px;

}
.nav-link {
    color: $txt-principal;
}
.navbar-light .navbar-nav .nav-link {
color: white;
background-color: $c-terciario;
display: flex;
flex-direction: row;
}    

.fa-classic, .fa-regular, .fa-solid, .far, .fas {
    color: $c-septenario;
    font-size: 30px;    
}

#navbarNav{
    margin-left: 20px;
}
.formulario-buscador {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
      
body {
    background-color: $c-septenario;
    font-family: 'Righteous', bold;

}


h1 {
    font-size: nth($font-size , $n:1 );
    background-color: $c-cuaternario;
    color: $txt-principal;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}

h2 {
    font-size: nth($font-size , $n:2 );
    color: $c-terciario;
    margin-left: 0px;
}


a {
    color: $c-terciario;
    text-decoration: none;
    &:hover{    
        color: $c-terciario;

    }
}

footer {
    background-color: $c-terciario;
    padding: 30px;
    bottom: 0;
    position: sticky;
    grid-area: footer;
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            li {
                list-style: none;
                a {
                    color: white;
                }
            }
        }
}
