/* Productos */

.productos-page {
          h1{
            margin: 10px 0px 0px 0px;
            display: flex;
            flex-direction: row;
            justify-content: center;
          }
}
.productos-page {
    
    box-shadow: $bx-shadow-principal;
  
  }
  
  .productos_full_page {
    display: grid;
    align-items: center;
  
  }
  
  .page-prod {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .container-img-prod{
    border: 2px solid #ffff;
    border-radius: 50px;
    box-shadow: $bx-shadow-principal;
    width: 300px;
    height: 300px;
  }
  
  .btn-comprar-producto {
    background-color: $c-sextario;
    border-style: none;
    margin: 0px 0px 0px 0px;
    width: 200px;
    &:hover {
        transform: scale(1.2);
        transition: all 0.5s;
        background-color: $c-cuaternario;
    }  
  }
  .btn-agregar-producto {
    background-color: $c-sextario;
    border-style: none;
    margin: 10px 0px 10px 0px;
    width: 120px;
    &:hover {  
        transform: scale(1.1);
        transition: all 0.5s;
        color:  $c-quinario;

    }
                   
  }
  
  
h6 {
    color: $txt-principal;
    background-color: $bg-principal;
    padding: 10px 10px 10px 10px;
    box-shadow: $bx-shadow-secundario;
    &:hover {
        transform: scale(1.3);
        transition: all 0.5s ;
    }
}